<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|48","bottom":"var:preset|spacing|48"}}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--48);padding-bottom:var(--wp--preset--spacing--48)">

    <!-- wp:pattern {"slug":"pta-blocks/county-hero"} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|48"}}}} /-->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|48","bottom":"var:preset|spacing|24"}}},"backgroundColor":"table-odd"} -->
    <hr class="wp-block-separator has-text-color has-table-odd-color has-alpha-channel-opacity has-table-odd-background-color has-background" style="margin-top:var(--wp--preset--spacing--48);margin-bottom:var(--wp--preset--spacing--24)" />
    <!-- /wp:separator -->

    <!-- wp:heading {"level":2,"fontSize":"h3"} -->
    <h2 class="wp-block-heading has-h-3-font-size">County Contacts</h2>
    <!-- /wp:heading -->

    <!-- wp:pta-core/county-contacts /-->

    <!-- wp:pta-core/conditional-municipality-lookup /-->

    <!-- wp:pattern {"slug":"pta-blocks/county-faq"} /-->

    <!-- wp:pattern {"slug":"pta-blocks/county-related-guides"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
